includes:
  - ./vendor/larastan/larastan/extension.neon
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - app
    - routes
    - database
    - resources/views
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
